<ion-view title="Login" class="" hide-nav-bar="false">
  <div id="login">
    <div ng-if="loading" class="modal"><div class="loading"></div></div>
    <ion-content padding="true">
        <form id="login-form1" ng-if="login" class="">
            <label id="login-input1">
                <input type="text" ng-model="formData.user" placeholder="e-mail" class="{{userAnime}}">
            </label>
            <label id="login-input2">
                <input type="password" ng-model="formData.pass" placeholder="senha" class="{{passAnime}}">
            </label>
            <div class="checkedLogin">
                <input type="checkbox" ng-model="formData.svSe">
                <span>Entrar automaticamente</span>
            </div>
            <button ng-click="authentication(formData)" id="login-button1" class="{{btnAnime}}">Entrar</button>
            <div ng-bind-html="alert" ng-if="alert"></div>
        </form>
    </ion-content>
  </div>
</ion-view>
