<ion-view title="Mapa" id="page7" class=" ">
    <ion-nav-bar class="bar-balanced">
      <ion-nav-buttons side="left">
          <button class="button button-icon ion-person" ng-click="meusDados()"></button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button class="button button-icon ion-close-circled" ng-click="logOut()"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content padding="true" class="has-header">
        <div class="item item-body " id="mapa-list-item-container7">
            <p id="mapa-markdown6" style="margin-top:0px;color:#000000;" class=" ">Some friendly
                <strong>markdown</strong>
            </p>
        </div>
    </ion-content>
</ion-view>
