<ion-view title="Rodadas" id="page9" class=" ">
    <ion-nav-bar class="bar-dark">
      <ion-nav-buttons side="left">
          <button class="button button-icon ion-person" ng-click="meusDados()"></button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button class="button button-icon ion-close-circled" ng-click="logOut()"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content padding="true" class="has-header">

      <div ng-if="listRound" class="listData">

        <ion-list>
          <ion-item class="item-divider">Rodada {{nRound}}</ion-item>
        </ion-list>
        <div ng-repeat="item in listRound" class="item item-body row">
          <div class="col">
            {{item.siglaTimeA}}&nbsp;
            <img style="width:30px" src="./img/escudos/{{item.siglaTimeA}}.png" title="{{item.nomeTimeA}}">
          </div>
          <div>X</div>
          <div class="col">
            {{item.siglaTimeB}}&nbsp;
            <img style="width:30px" src="./img/escudos/{{item.siglaTimeB}}.png" title="{{item.nomeTimeB}}">
          </div>
        </div>

      </div>

    </ion-content>
</ion-view>
