<ion-view title="Survivor" id="home" class="back" hide-nav-bar="truee">
    <div ng-if="loading" class="modal"><div class="loading"></div></div>
    <ion-nav-bar class="bar-dark">
      <ion-nav-buttons side="left">
          <button class="button button-icon ion-person" ng-click="meusDados()"></button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button class="button button-icon ion-close-circled" ng-click="logOut()"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content padding="true" class="">

      <div ng-if="listMap" class="listData">

        <ion-list>
          <ion-item class="item-divider">Seus Palpites</ion-item>
        </ion-list>
        <div class="item item-body row">
          <div class="col">Time</div>
          <div class="col">Rodada</div>
          <div class="col">Resultado</div>
        </div>
        <div ng-repeat="item in listMap" class="item item-body row">
          <div class="col">
            <img style="width:30px" src="./img/escudos/{{item.siglaTime}}.png" title="{{item.nomeTime}}">
            &nbsp;{{item.siglaTime}}
          </div>
          <div class="col">{{item.codigoRodada}}</div>
          <div class="col">{{item.resultado}}</div>
        </div>

      </div>

    </ion-content>
</ion-view>
